<html lang="en">
<%- include('../../../components/header') %>

    <body>
        <%- include('../../../components/nav') %>
            <div class="container profile-container">
                <h2 class="text-center mt-3 mb-5 fw-bold">Daftar Pesanan</h2>
                <div class="alert alert-success" role="alert">
                   Status berhasil di ubah
                  </div>
                <div class="d-flex justify-content-center">
                    <div class="table-responsive ">
                        <table class="table table-striped table-hover">
                            <thead class="foodie-bg text-white">
                                <th>No</th>
                                <th>Nama Depan</th>
                                <th>Nama Belakang</th>
                                <th>Tanggal Pesanan</th>
                                <th>Tanggal Bayar</th>
                                <th>Total Biaya</th>
                                <th>Alamat Pengiriman</th>
                                <th>Catatan</th>
                                <th>Status</th>
                                <th>Aksi</th>
                            </thead>
                            <tbody class="row-order"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- modal order -->
            <div class="modal fade show" id="modal-order" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content order-container">
                        <button type="button" class="btn-close exit-btn" aria-label="Close" data-bs-dismiss="modal"
                            id="close-modal">
                        </button>
                        <div class="m-4">
                            <h2 class="text-center mt-3 mb-5 fw-bold">Detail Pesanan</h2>
                            <div class="d-flex justify-content-center">
                                <div class="table-responsive ">
                                    <table class="table table-striped table-hover">
                                        <thead class="foodie-bg text-white">
                                            <th>No</th>
                                            <th>Gambar</th>
                                            <th>Nama Menu</th>
                                            <th>Total Harga</th>
                                            <th>Jumlah</th>
                                            <th>Catatan</th>
                                        </thead>
                                        <tbody class="row-detail-order"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- modal order -->
            <div class="modal fade show" id="modal-edit-status" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content order-container">
                        <button type="button" class="btn-close exit-btn" aria-label="Close" data-bs-dismiss="modal"
                            id="close-modal">
                        </button>
                        <div class="m-4">
                            <h2 class="text-center mt-3 mb-5 fw-bold">Edit Status Pesanan</h2>
                            <div class="d-flex flex-column justify-content-center">
                                <label for="">Select Status</label>
                                <select class="form-control form-control-lg" id="status-value">
                                    <option value="paid">Paid</option>
                                    <option value="cancel">Cancel</option>
                                </select>
                            </div>
                            <div class="mt-4">
                                <button class="m-1 btn btn-primary edit-status-order" id="update-status">
                                    Update Status
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="loader-modal">
                    <%- include('../../../components/loader') %>
                </div>
            </div>

            <%- include('../../../components/footer') %>
                <script src="/static/js/api/order.api.js"></script>
                <script src="/static/js/services/order.service.js"></script>
                <script src="/static/js/helper/currency.js"></script>
                <script src="/static/js/helper/util.js"></script>
    </body>

    <div id="loader">
        <%- include('../../../components/loader') %>
    </div>

</html>