<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>

    <body>
        <%- include('../components/nav') %>

        <style>
            .about-container {
                width: 1065px !important;
            }
            
            .upper {
                margin-bottom: 70px;
                height: 258px;
            }

            .col h5 {
                font-weight: 600;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: 1px;
            }

            .col p {
                font-size: 20px;
            }

            .image {
                width: 360px;
                height: 252px;
                border-radius: 16px;
            }

            .btn-pesan {
                width: 241px;
                height: 50px;
                font-weight: 500;
                font-size: 20px;
            }
        </style>

            <div class="about-container container">
                <h2 class="text-center mt-3 mb-5 fw-bold">Tentang Kami</h2>
                <div class="row upper">
                    <div class="col align-middle">
                        <h5 class="fw-bold">Catering yang hemat, bersih, dan terjangkau</h5>
                        <p>Foodie bergerak dalam bidang food & beverages dengan
                            standar kesehatan, rasa, dan kualitas yang tinggi. Namun
                            dengan segala kelebihan kami tersebut, kami masih tetap
                            mampu menyediakan makanan dengan harga terjangkau.
                        </p>
                        
                    </div>
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <div id="carouselExampleControls" class="carousel slide " data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="https://images.unsplash.com/photo-1564844536308-50b114a1d946?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=898&q=80" class="d-block image" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://images.unsplash.com/photo-1428515613728-6b4607e44363?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block image" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://images.unsplash.com/photo-1495461199391-8c39ab674295?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block image" alt="...">
                                    </div>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row upper">
                    <div class="col">
                        <div class="d-flex justify-content-center">
                            <img src="static/img/halal.png" class="d-block image" alt="">
                        </div>
                    </div>
                    <div class="col">
                        <h5 class="fw-bold">Tujuan Kami</h5>
                        <p>Kami hadir untuk menyediakan makanan dengan kuliatas
                            bahan, rasa dan higenis tinggi dengan harga
                            tetap terjangkau.
                            Oleh karena itu, jangan ragu untuk berkomunikasi dan
                            berkonsultasi karena kami siap membantu dan melayani
                            setiap pertanyaan adan permintaaan dengan ramah, cepat,
                            dan penuh solusi
                        </p>
                        
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <a class="btn btn-dark foodie-bg border-0 rounded-pill pt-2 pb-2 ps-3 pe-3 btn-pesan" href="/menu" >Pesan Sekarang</a>
                </div>
            </div>
            <%- include('../components/footer') %>

    </body>

</html>