<!-- <div class="modal fade show" id="modal-deskripsi">
    <div class="modal-dialog modal-lg modal-dialog-centered ">
        <div class="modal-content deskripsi-container"> -->
           
            <button type="button" class="btn-close exit-btn" aria-label="Close" data-bs-dismiss="modal" id="close-modal">
                <span aria-hidden="true">&times;</span>
            </button>

            <div class="top">
                <div class="left">
                    <h5 id="name">
                    </h5>
                    <div id="tags" class="tag-box"></div>
                    <!-- <div class="tag-box">
                        <a href="#">Seafood</a>
                    </div>
                    <div class="tag-box">
                        <a href="#">Sayur</a>
                    </div> -->
                    <h5 id="price"></h5>
                </div>
                <div class="right">
                    <div class="image"></div>
                    <!-- <div class="btn-like"></div> -->
                </div> 
                
            </div>

            <div class="description-body">
                <div>
                    <h6>Deskripsi</h6>
                    <input type="text" class="menuId" hidden value=<%= menuId %>>
                    <p id="description">
                    </p>
                </div>
                <div>
                    <p id="bestBefore" style="font-style: italic;"></p>
                </div>
            </div>

            
            <!-- reviews -->
            <div class="review-container description-body">
                <h6>Reviews</h6>
                <div class="mt-3 reviews">
                    <!-- <div class="review-content">
                        <div class="col-2">
                            <img src="https://i.pinimg.com/474x/f9/61/30/f961306179ce606db7bedb1d731436b6.jpg" alt=""
                                class="review-profile rounded-circle" />
                        </div>
                        <div class="col-10">
                            <div class="review row">
                                <p>Makanannya enak, rasanya gurih dan mantap. Namun masih kurang asin karena terlalu banyak gula.</p>
                                <div class="review-rating">
                                    <span><i class="bi bi-star-fill"></i></span>
                                    <span><i class="bi bi-star-fill"></i></span>
                                    <span><i class="bi bi-star-fill"></i></span>
                                    <span><i class="bi bi-star-fill"></i></span>
                                    <span><i class="bi bi-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            <!-- reviews -->

            <!-- button -->
            <div class="row">
                <!-- <div class="col-4">
                    <a href="/notes" class="btn rounded-pill foodie-border pt-2 pb-2 ps-3 pe-3" id="notes">Tambah Catatan</a>
                </div> -->
                <div class="col">
                    <a class="btn btn-primary btn-dark foodie-bg border-0 rounded-pill pt-2 pb-2 ps-3 pe-3 center" type="button" id="order" href="/menu">Pesan
                        Sekarang</a>
                </div>
            </div>

            <!-- modal notes -->
            <div class="modal fade show" id="modal-notes">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content deskripsi-container">
                    </div>
                </div>
            </div>
        <!-- </div>
    </div>
</div> -->
            
            <script>

                $('.exit-btn').click((event) => {
                    window.location.reload();
                });
            </script>
            <script src="static/js/services/deskripsi.service.js"></script>
            