<%- include('../components/nav') %>

    <div class="container">
        <h2 class="fw-bold text-center">Detail Berlangganan</h2>
        <div class="row">
            <div class="col">
                <p class="fw-bold">Lokasi Pengiriman</p>
                <div class="alamat">
                    <p>Perumahan Puri Sari Blok A-23</p>
                </div>
            </div>
            <div class="col">
                <p class="fw-bold">Berlangganan</p>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">Dropdown button</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <p class="fw-bold">Pesanan</p>
        </div>
        <div class="row pesanan">
            <div class="col-2">
                <img src="img/5.png" alt="Nasi Kuning" />
            </div>
            <div class="col-8">
                <p>Nasi Kuning</p>
            </div>
            <div class="col-2">1</div>
        </div>
    </div>