<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>

    <body>
        <%- include('../components/nav') %>

            <div class="container">
                <h2 class="text-center fw-bold mt-3 mb-3">Home</h2>

            </div>
    </body>

    <script>

        $(document).ready(function () {
            const token = JSON.parse(localStorage.getItem("token"));
            console.log(token)
            if (!token) {
                window.location.href = "/login";
            }
        });
    </script>

</html>