<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>

    <body>
        <%- include('../components/nav') %>

            <div class="container">
                <h2 class="fw-bold text-center mb-5">Konfirmasi Pesanan</h2>
                <div class="row mb-4">
                    <div class="col-6">
                        <p class="fw-bold">Lokasi Pengiriman</p>
                        <input class="profile-form form-control " id="alamat" placeholder="Lokasi Pengiriman">
                    </div>
                    <div class="col-6">
                        <p class="fw-bold">Catatan Pesanan</p>
                        <input class="profile-form form-control " id="order-note" placeholder="Catatan Pesanan">
                    </div>
                </div>
                <div class="d-flex justify-content-between mb-4">
                    <p class="fw-bold">Pesanan</p>
                    <button id="add-item" class="btn foodie-btn" onclick="addItem()">Tambah Item</button>
                </div>
                <div id="order-list" class="pesanan">
                </div>
                <div class="text-end">
                    <p>BELUM LUNAS</p>
                    <p>Total Harga: <span class="fw-bold" id="totalPrice"></span></p>
                </div>
                <div class="d-flex justify-content-center my-5">
                    <button id="order" class="btn btn-primary btn-dark foodie-bg rounded-pill border-0 btn-confirm py-3 px-5 my-5">Pesan Sekarang</button>
                </div>
            </div>
            <%- include('../components/footer') %>

            <!-- Modal Catatan -->
            <!-- <div class="modal fade" id="catatanPesanan" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content">
                        <button type="button" class="btn-close exit-btn" aria-label="Close" data-bs-dismiss="modal"
                            id="close-modal">
                        </button>
                        <div class="m-4">
                            <h2 class="text-center mt-3 mb-5 fw-bold">Detail Pesanan</h2>
                            <div class="d-flex justify-content-center">
                                <div class="form-floating">
                                    <textarea class="form-control" id="isiCatatan" style="height: 180px"></textarea>
                                    <label for="isiCatatan">Contoh: jangan pedas, tidak pakai sendok plastik</label>
                                    <button type="button" class="btn foodie-btn-border" onclick="tambahCatatan()">Konfirmasi</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <script></script>
            <script src="/static/js/api/cart.api.js"></script>
            <script src="/static/js/api/order.api.js"></script>
            <script src="/static/js/api/user.api.js"></script>
            <script src="/static/js/services/cart.service.js"></script>
            <script src="/static/js/helper/currency.js"></script>
            <script></script>
    </body>

    <div id="loader">
        <%- include('../components/loader') %>
    </div>

</html>