<!DOCTYPE html>
<html lang="en">

<%- include('../components/header') %>

    <body>
        <%- include('../components/nav') %>

            <div class="container">
                <!-- slideshow -->
                <div id="carouselExampleCaptions" class="carousel slide" data-touch="true">
                    <div class="carousel-controls">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                        </ol>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="static/img/HeroImage.png" class="d-block w-100" alt="..." />
                            <div class="carousel-caption">
                                <div class="w-100">
                                    <h5 class="foodie-color w-40 fw-bold text-start">Selamat datang di Foodie, Katering
                                        terpecaya untuk keluarga anda</h5>
                                </div>
                                <div class="w-100 mt-3">
                                    <p class="foodie-color2 fw-bold text-start">Kepuasaan anda adalah prioritas kami</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item slide-2">
                            <img src="static/img/HeroImage.png" class="d-block w-100" alt="..." />
                            <div class="align-self-center justify-content-center">
                                <h3 class="foodie-white fw-bold text-center "></h3>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img src="static/img/HeroImage.png" class="d-block w-100" alt="..." />
                            <div class="carousel-caption">
                                <div class="w-100">
                                    <h5 class="foodie-color w-40 fw-bold text-start">Second slide label</h5>
                                </div>
                                <div class="w-100 mt-3">
                                    <p class="foodie-color2 fw-bold text-start">Some representative placeholder content for the second slide.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- slideshow -->

                <!-- section menu terlaris -->
                <div class="menu-terlaris row mb-5">
                    <div class="col-3 p-0 d-flex">
                        <img class="menu-img" src="static/img/menu-terlaris.png" style="filter: brightness(50%);" alt="" />
                        <h5 class="menu-text-center text-white fw-bold font-22">Menu Terlaris</h5>
                    </div>
                    <!-- menu slider -->
                    <div class="col menu-slider-container ps-3" style="background-color: #f99239">
                        <div id="carouselMenu" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner menu-carousel">
                                <!-- <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col">
                                            <div class="menu-card-container">
                                                <img src="static/img/5.png" class="d-block w-100" alt="..." />
                                                <div class="menu-card-detail">
                                                    <h5 class="fw-bold">Menu Sayur Asem</h5>
                                                    <p>Sayur asem jakarta + tempe & tahu + lalapan</p>
                                                    <div class="d-flex justify-content-end">
                                                        <a href="/deskripsi/?menuId=1" class="btn btn-dark modal-btn">Selengkapnya<i class="bi bi-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div> -->
                                        <!-- </div> -->
                                    </div>
                                </div> 
                            </div>
                        </div>
                    

                <!-- section menu terlaris -->

                <!-- tahukah kamu -->
                <div class="article-container">
                    <h2 class="text-white fw-bold text-center">Tahukah Kamu?</h2>
                    <div class="article-list row mt-3">
                        <div class="col-2"  >
                            <img src="static/img/Rectangle-443.png" class="image" style="filter: brightness(50%);" alt="" />
                            <a data-bs-toggle="modal" class="fact" data-bs-target="#funfact-kacang">Manfaat Kacang Hijau</a>
                        </div>
                        <div class="col-2">
                            <img src="static/img/Rectangle-439.png" class="img" style="filter: brightness(50%);" alt="" />
                            <a data-bs-toggle="modal" class="fact" data-bs-target="#funfact-bayam">Manfaat Bayam</a>
                        </div>
                        <div class="col-2">
                            <img src="static/img/Rectangle-440.png" class="img" style="filter: brightness(50%);" alt="" />
                            <a data-bs-toggle="modal" class="fact" data-bs-target="#funfact-telur">Manfaat Telur Asin</a>
                        </div>
                        <div class="col-2">
                            <img src="static/img/Rectangle-441.png" class="img" style="filter: brightness(50%);" alt="" />
                            <a data-bs-toggle="modal" class="fact" data-bs-target="#funfact-buncis">Manfaat Buncis</a>
                        </div>
                    </div>
                </div>
                <!-- tahukah kamu -->

                <!-- testimoni -->
                <div class="testimoni-container">
                    <h2 class="fw-bold">Testimoni</h2>
                    <div class="mt-3 d-flex justify-content-center">
                        <div class="testimoni-content">
                            <div class="row text-start">
                                <div class="col-1">
                                    <img src="https://i.pinimg.com/474x/f9/61/30/f961306179ce606db7bedb1d731436b6.jpg"
                                        alt="" class="testi-profile rounded-circle" />
                                </div>
                                <div class="col">
                                    <p>Bagas Putra</p>
                                    <div class="testimoni-rating">
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star-fill"></i></span>
                                        <span><i class="bi bi-star"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row testimoni">
                                <p>“ Foodie sangat membantu ku saat pandemi ini, karena saya harus WFH dan tidak dapat menyiapkan makanan untuk keluarga.
                                Pelayanan ramah, dan terjamin kualitasnya. Terima kasih Foodie “.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- testimoni -->
            

            <!-- modal deskripsi makanan -->
            <div class="modal fade show" id="modal-deskripsi" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content deskripsi-container">
                    </div>
                </div>
            </div>

            <!-- modal funfact -->
            <div class="modal fade show" id="funfact-telur">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content funfact-container">
                        <div class="description-body funfact">
                            <h5>Manfaat Telur Asin</h5>
                            <ol>
                                <li>Membantu meningkatkan massa otot</li>
                                <li>Mencegah masalah anemia</li>
                                <li>Membantu mengatasi darah tinggi</li>
                                <li>Meningkatkan proses metabolisme tubuh</li>
                                <li>Memperbaiki kesehatan mata</li>
                                <li>Membantu perkembangan otak</li>
                            </ol>
                            <p>Source : http://blog.sayurbox.com/</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade show" id="funfact-kacang">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content funfact-container">
                        <div class="description-body funfact">
                            <h5>Manfaat Kacang Hijau</h5>
                            <ol>
                                <li>Menurunkan risiko penyakit jantung</li>
                                <li>Menurunkan kolesterol</li>
                                <li>Manfaat kacang hijau pada penyakit hati</li>
                                <li>Menurunkan tekanan darah</li>
                                <li>Memperkuat sistem kekebalan tubuh</li>
                                <li>Berpotensi mencegah kanker</li>
                            </ol>
                            <p>Source : https://hellosehat.com/</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade show" id="funfact-bayam">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content funfact-container">
                        <div class="description-body funfact">
                            <h5>Manfaat Bayam</h5>
                            <ol>
                                <li>Meredakan peradangan</li>
                                <li>Meningkatkan sistem kekebalan tubuh</li>
                                <li>Mencegah anemia</li>
                                <li>Menjaga kesehatan mata</li>
                                <li>Menurunkan resiko penyakit kardiovaskular</li>
                                <li>Menjaga kesehatan kulit</li>
                            </ol>
                            <p>Source : https://alodokter.com/</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade show" id="funfact-buncis">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content funfact-container">
                        <div class="description-body funfact">
                            <h5>Manfaat Buncis</h5>
                            <ol>
                                <li>Meningkatkan kesuburan wanita</li>
                                <li>Menjaga kesehatan jantung</li>
                                <li>Memperkuat tulang</li>
                                <li>Menjaga kesehatan janin</li>
                                <li>Meredakan depresi</li>
                                <li>Menjaga kesehatan pencernaan</li>
                            </ol>
                            <p>Source : https://hellosehat.com/</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            

            <%- include('../components/footer') %>

            <script src="static/js/services/landing.service.js"></script>        
            <script src="static/js/api/menu.api.js"></script>
    </body>

</html>