<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>

    <body>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="static/img/cooking.png" alt="" srcset="" class="img-responsive thumbnail">
                </div>
                <div class="col-md-6"><br><br>
                    <h2 class="fw-bold">Masuk</h2>

                    <div class="form__message error" id="form_message">
                        <div class="form__message-content">
                            <p id="message">
                            </p>
                        </div>
                    </div>
                    <form class="row g-3" id="form__login">
                        <div class="col-12">
                            <label for="inputUsername" class="name-form">Username</label>
                            <input type="text" id="Username" class="profile-form form-control mt-2" name="username"
                                data-sb-validation="required" data-sb-can-submit="no" required />
                        </div>
                        <div class="col-12 mb-3">
                            <label for="password" class="name-form">Password</label>
                            <div class="input-group">
                                <input type="password" id="password" name="password" class="profile-form form-control mt-2"
                                    data-sb-validation="required" data-sb-can-submit="no" required />
                                <i class="bi bi-eye show-hide profile-form mt-2" toggle="#password"></i>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit"
                                        class="btn btn-primary btn-dark foodie-bg border-0 rounded-pill pt-2 pb-2 ps-3 pe-3 btn-update">
                                        Login</button>
                                </div>
                                <div class="col-6 align-self-center text-end">
                                    Belum Punya akun? <a href="/register" class="foodie-color">Daftar</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>

    <div id="loader">
        <%- include('../components/loader') %>
    </div>

    <script src="/static/js/constants/index.js"></script>
    <script src="/static/js/services/login.service.js"></script>
    <script src="/static/js/api/auth.api.js"></script>
    <script src="/static/js/api/user.api.js"></script>

</html>