<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>

    <body>
        <%- include('../components/nav') %>
            <div class="container">
                <div class="tool-section">
                    <div class="toolbar d-flex justify-content-between my-5 ">
                        <div class="d-flex justify-content-start align-items-center search-filter-container">
                            <div class="search">
                                <i class="fa fa-search"></i> <input type="text" id="search-menu" class="form-control"
                                    placeholder="Mau makan apa hari ini?">
                                <div id="filterPanel" class="collapse filter-panel mt-2">
                                    <div class="panel panel-default">
                                        <div class="panel-body d-flex">
                                            <input type="number" name="min-price" id="min-price"
                                                class="filter-input form-control mt-2 me-1"
                                                placeholder="Harga minimal">
                                            <input type="number" name="max-price" id="max-price"
                                                class="filter-input form-control mt-2 mr-1"
                                                placeholder="Harga maksimal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button" id="btn-filter" class="btn mx-3" data-bs-toggle="collapse"
                                data-bs-target="#filterPanel" aria-expanded="false" aria-controls="filterPanel">
                                <i class="bi bi-filter"></i> Filter
                            </button>
                        </div>

                        <div class="d-flex justify-content-center align-items-center">
                            <button id="confirmation-order" type="button" disabled onclick="submitCreateCart()" class="btn btn-secondary foodie-btn" style="width: 300px;">
                                Konfirmasi Seluruh Pesanan
                            </button>
                        </div>
                    </div>
                    <div class="tab-panel mb-5 clear"></div>
                </div>
                <!-- column -->
                <div class="row justify-content-evenly menus-container" data-category-id="<%= categoryId %>">
                </div>
                <!-- column -->
            </div>

            <!-- modal deskripsi -->
            <div class="modal fade show" id="modal-detail-menu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered ">
                    <div class="modal-content deskripsi-container">
                        
                    </div>
                </div>
            </div>

            <%- include('../components/footer') %>
                <script src="/static/js/api/menu.api.js"></script>
                <script src="/static/js/api/cart.api.js"></script>
                <script src="/static/js/services/menu.service.js"></script>
                <script src="/static/js/helper/currency.js"></script>
    </body>

    <div id="loader">
        <%- include('../components/loader') %>
    </div>

</html>