<html lang="en">
<%- include('../components/header') %>

    <body>
        <%- include('../components/nav') %>
            <div class="container profile-container">
                <h2 class="text-center mt-3 mb-5 fw-bold">Profil
                </h2>
                <div class="d-flex justify-content-center">
                            <div class="col-4">
                        <div class="d-flex justify-content-center" id="profileImage">
                            <!-- <img id="avatar"
                                src="" /> -->
                        </div>
                        <div class="d-flex justify-content-center mt-5">
                            <button class="btn rounded-pill foodie-border pt-2 pb-2 ps-3 pe-3 update-avatar-btn"
                                type="button" id="upload-img-btn">
                                Ubah Foto
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <form action="" id="form_update" class="needs-val">
                            <div class="form-group">
                            <input id="imageUpload" type="file" name="imageUrl" capture>
                            </div>
                            
                            <div class="form-controller form-row name-group">
                                <div class="form-group col-md-6">
                                    <label for="firstName" class="name-form">Nama Depan</label>
                                    <input class="short-form profile-form form-control " id="first-name" type="text"
                                        placeholder="Nama Depan" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="lastName" class="name-form">Nama Belakang</label>
                                    <input class="short-form profile-form form-control" id="last-name" type="text"
                                        placeholder="Nama Belakang" required> 
                                </div>
                            </div>

                            <div class="form-controller form-group">
                                <label for="address" class="name-form">Alamat</label>
                                <input class="long-form profile-form form-control" id="address" type="text"
                                    placeholder="Alamat" required>
                                <!-- <div><a href="#">Tambah Catatan</a></div> -->
                            </div>

                            <div class="form-controller form-group">
                                <label for="phoneNumber" class="name-form">No.HP</label>
                                <input class="long-form profile-form form-control" id="phone" type="text"
                                    placeholder="No. HP" required>
                            </div>
                            <div class="form-group">
                                <button
                                    class="btn btn-primary btn-dark foodie-bg border-0 rounded-pill pt-2 pb-2 ps-3 pe-3 btn-update"
                                    type="submit">
                                    Simpan Perubahan
                                </button>
                            </div>

                        </form>

                    </div>
                </div>

            </div>

            </div>
            <%- include('../components/footer') %>

                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script src="static/js/services/profile.service.js"></script>


    </body>

</html>