<!DOCTYPE html>
<html lang="en">
<%- include('../components/header') %>

    <body>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-6">
                    <img src="static/img/cooking.png" alt="" srcset="" class="img-responsive thumbnail">
                </div>
                <div class="col-md-6"><br><br>
                    <h2 class="fw-bold">Daftar</h2>

                    <div class="form__message error" id="form_message">
                        <div class="form__message-content">
                            <p id="message">
                            </p>
                        </div>
                    </div>
                    <form class="row g-3" id="form__registrasi">
                        <div class="col-md-6">
                            <label for="inputFirstName" class="name-form">Nama Depan</label>
                            <input type="text" class="profile-form form-control mt-2" id="inputFirstName">
                        </div>
                        <div class="col-md-6">
                            <label for="inputLastName" class="name-form">Nama
                                Belakang</label>
                            <input type="text" class="profile-form form-control mt-2" id="inputLastName">
                        </div>
                        <div class="col-12">
                            <label for="inputUsername" class="name-form">Username</label>
                            <input type="text" class="profile-form form-control mt-2" id="inputUsername">
                        </div>

                        <div class="col-12">
                            <label for="password" class="name-form">Password</label>
                            <div class="input-group">
                                <input type="password" class="profile-form form-control mt-2"
                                    aria-describedby="button-addon2" id="password"
                                    placeholder="minimal 8 karakter" minlength="8">
                                        <i class="bi bi-eye show-hide profile-form mt-2" toggle="#password"></i>
                                   
                                
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="password" class="name-form">Konfirmasi Password</label>
                            <div class="input-group mb-3">
                                
                                <input type="password" class="profile-form form-control mt-2"
                                    aria-describedby="button-addon2" id="confirm_password" placeholder="" minlength="8">
                                    <i class="bi bi-eye show-hide-confirm confirm profile-form mt-2" id="button-addon2"
                                    toggle="#confirm_password"></i>

                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-6">
                                    <button type="submit"
                                        class="btn btn-primary btn-dark foodie-bg border-0 rounded-pill pt-2 pb-2 ps-3 pe-3 btn-update">
                                        Daftar Sekarang</button>
                                </div>
                                <div class="col-6 align-self-center text-end">
                                    Sudah Punya akun? <a href="/login" class="foodie-color">Masuk</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('../components/footer') %>
    </body>

    <div id="loader">
        <%- include('../components/loader') %>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/js/services/signup.service.js"></script>

</html>