<%- include('partials/nav') %>

<div class="container">
  <h2 class="fw-bold text-center">Status Berlangganan</h2>
  <div class="status-container">
    <div class="row">
      <div class="col">
        <p class="fw-bold m-0">30 Juli 2021 - 14:30:30</p>
        <p>Bulanan</p>
        <p>Rp 130.000</p>
      </div>
      <div class="col text-end">
        <p class="fw-bold">BELUM LUNAS</p>
        <button class="btn btn-dark">Detail Langganan</button>
      </div>
    </div>
  </div>
</div>
