<html lang="en">
<%- include('../../../components/header') %>

    <body>
        <%- include('../../../components/nav') %>
            <div class="container profile-container">
                <h2 class="text-center mt-3 mb-5 fw-bold">Daftar Pengguna</h2>
                <div class="tab-panel mb-5 clear">
                    <nav class="nav">
                        <a id="pelanggan" class="nav-link category-active mx-1" aria-current="page" href="#"
                            onclick="handleAllUser(2)">Pelanggan</a>
                        <a id="admin" class="nav-link category-inactive mx-1" aria-current="page" href="#"
                            onclick="handleAllUser(1)">Admin Foodie</a>
                    </nav>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="table-responsive ">
                        <table class="table table-striped table-hover">
                            <thead class="foodie-bg text-white">
                                
                            </thead>
                            <tbody class="row-user"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>
            <%- include('../../../components/footer') %>
            <script src="/static/js/helper/datetime.js"></script>
            <script src="/static/js/api/user.api.js"></script>
            <script src="/static/js/services/user.service.js"></script>
    </body>

    <div id="loader">
        <%- include('../../../components/loader') %>
    </div>

</html>