.deskripsi-container {
  width: 688px;
  height: auto;
  background: #ffffff;
  border-radius: 24px;
  padding: 56px 56px 32px 32px;
}

.deskripsi-container h5 {
  color: #585859;
  display: flex;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  color: #2e2e2e;
}

.exit-btn {
  position: absolute;
  margin-top: 32px;
  margin-right: 32px;
  top: 0;
  right: 0;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tag-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 16px;
  background: #ebf4fe;
  border-radius: 4px;
  margin: 0px 10px 0px 0px;
  display: inline-block;
}

.tag-box a {
  text-align: center;
  color: #2e2e2e;
  text-decoration: none;
  font-size: 14px;
}

#price {
  margin-top: 32px;
  letter-spacing: 1px;
}

#imageUrl {
  float: right;
  /* background-color: #2e2e2e; */
  border-radius: 24px;
  width: 200px;
  height: 160px;
  overflow: hidden;
  justify-content: center;
}

.description-body {
  margin-top: 53px;
}

.description-body h6 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 12px;
}

.description-body p {
  font-size: 16px;
  line-height: 24px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

#imageUrl {
  width: 240px;
  height: 200px;
  object-fit: cover;
  border-radius: 24px;
}

/* review */
.review-container {
  margin: 12px 56px 12px 0px;
}

.review-content {
  font-size: 16px;
  line-height: 24px;
  display: flex;
}

.review-profile {
  width: 48px;
  height: 48px;
}

.review {
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 12px;
}

#review {
  margin-bottom: 8px;
}

.qty-btn {
  margin-top: 30px;
}
