.form {
    height: 100vh;
}

.form>.form__group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem 0;
}

.form__group>label {
    margin: .5rem 0;
}

.form__group>.form__control {
    border: none;
    min-height: 44px;
    width: 100%;
    padding: 0 .3rem;
    background: lightgray;
}

.form__control:focus {
    outline: none;
}

.form__message {
    border: 1px solid black;
    text-align: center;
    font-size: 11pt;
    padding: .3rem;
}

.form__message.error {
    border: 1px solid red;
    background-color: pink;
    color: red;
}