.funfact-container {
  width: 560px;
  height: fit-content;
  background: #ffffff;
  border-radius: 24px;
  padding: 20px 16px 40px 56px;
  cursor: pointer;
}

.funfact h5 {
  font-weight: 600;
  font-size: 32px;
  letter-spacing: 1px;
  margin-bottom: 24px;
  color: #ef7307;
}

.funfact ol {
  font-size: 20px;
  margin-bottom: 24px;
}
