/* carousel */
.carousel-caption {
  justify-content: start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}

.carousel-caption h5 {
  margin-top: 7rem;
}

.w-40 {
  width: 40%;
}

.carousel-indicators li {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: none;
  background-color: #e9eaed;
  margin: 0 5px;
}

.carousel-indicators li.active {
  background-color: #ef7307;
}

/* carousel */

/* menu terlaris */
.menu-terlaris {
  width: 100%;
  height: 380px;
  margin: 0;
}
.menu-img {
  width: 100%;
  height: auto;
  padding-right: 0.3rem;
  border-right: 6px dashed black;
  object-fit: cover;
}

.menu-terlaris > .col-3 {
  position: relative;
}

/* menu slider */
.menu-slider-container {
  margin-left: 0.3rem;
  height: 403px;
}

/* menu slider */

.menu-text-center {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.menu-card-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
  background-color: #ffff;
}

.menu-card-container img {
  width: 100%;
  border-start-start-radius: 20px;
  border-start-end-radius: 20px;
  height: 167px;
  object-fit: cover;
}

.menu-card-detail {
  padding: 0.5rem 1rem 1rem 1rem;
}

.menu-card-detail h5 {
  font-size: 18px;
}

.menu-card-detail p {
  font-size: 13px;
}

.menu-card-detail button {
  text-align: end;
  font-size: 13px;
}

.article-container {
  padding: 2rem;
  margin-top: 7rem;
  background-color: #ef7307;
}

.article-list {
  display: flex;
  justify-content: center;
}

.article-list > .col-2 {
  position: relative;
}

.article-list > .col-2 > img {
  width: 100%;
  height: auto;
}

.article-list > .col-2 > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffff;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  width: 80%;
  text-decoration: none;
}

/* testimoni */
.testimoni-container {
  padding-top: 5rem;
  text-align: center;
  height: 500px;
}

.testi-profile {
  height: 50px;
  height: 50px;
}

.testimoni-content {
  width: 75%;
  padding: 2rem;
  background-color: #ef7307;
  border-radius: 20px;
  color: white;
}

.testimoni-content > .row > .col > p {
  margin: 0;
}

.testimoni {
  text-align: start;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.testimoni p {
  width: 90%;
}
/* testimoni */

.slide-2 {
  height: 535px;
}

.font-22 {
  font-size: 22px;
  text-decoration: none;
}
