@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("./nav.css");
@import url("./pesanan.css");
@import url("./preloader.css");
@import url("./landing-page.css");
@import url("./status-langganan.css");
@import url("./detail-berlangganan.css");
@import url("./form.css");
@import url("./profile.css");
@import url("./deskripsi.css");
@import url("./menu.css");
@import url("./funfact.css");
@import url("./order-history.css");
@import url("./order-detail.css");

* {
  font-family: "Poppins", sans-serif;
}

.foodie-color {
  color: #ef7307;
}

.foodie-border {
  border: 1px solid #ef7307;
}

.foodie-bg {
  background-color: #ef7307;
}

.foodie-btn-border {
  background-color: transparent;
  border: 1px solid #ef7307;
  color: #ef7307;
  border-radius: 20px;
}

.foodie-btn {
  background-color: #ef7307;
  border: 0;
  color: white;
  border-radius: 10px;
}

.table-responsive {
  width: 100%;
}

.detail-menu {
  cursor: pointer;
}

.about-container {
  min-height: 75vh;
}
.fact{
  cursor: pointer;
 
}

.fact:hover{
  filter: contrast(50%);
}

.image:hover{
  filter: brightness(10%);
  filter: contrast(100%);
}
