.card-img-top {
  width: 240px;
  height: 240px;
  border-radius: 10px;
  object-fit: cover;
}

.qty .count {
  color: #000;
  display: inline-block;
  vertical-align: top;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  padding: 0 2px;
  min-width: 35px;
  text-align: center;
}
.qty .plus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #ea730c;
  width: 35px;
  height: 35px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 20%;
}
.qty .minus {
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  color: #ea730c;
  width: 35px;
  height: 35px;
  font: 30px/1 Arial, sans-serif;
  text-align: center;
  border-radius: 20%;
  background-clip: padding-box;
}
.minus:hover {
  background-color: #ea730c !important;
  color: white;
}
.plus:hover {
  background-color: #ea730c !important;
  color: white;
}
/*Prevent text selection*/
input {
  border: 0;
  width: 2%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:disabled {
  background-color: white;
}
input:disabled {
  background-color: white;
}

.category-active {
  color: #ea730c;
  border-bottom: 1px #ea730c solid;
}

.category-inactive {
  color: #000;
  border-bottom: 1px #b7babf solid;
}

a.fav:hover {
  cursor: default;
}

i.bi:hover {
  cursor: pointer;
}

.search-filter-container {
  width: 100%;
  float: left;
}

#btn-filter {
    position: relative;
    float: right;
}

.panel-body {
    position: relative;
    float: right;
    width: 100%;
}

.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    float: right;
    width: 40%;
}

.clear {
  clear: both;
}

.search > input {
    height: 40px;
    text-indent: 30px;
    border: 2px solid #d6d4d4
}

.filter-input {
    float: right;
    text-indent: 0px;
}

.search .fa-search {
    position: absolute;
    top: 12px;
    left: 16px
}

input {
    background-color: #EBF4FE !important;
    border: 0 !important;
}

#btn-filter {
    background-color: #EBF4FE !important;
}

/* .act-btn{
    background:green;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    left: 50%;
    bottom: 30px;
    z-index: 99999;
  }
.act-btn:hover{background: blue} */