.nav-list-color {
    color: #773904;
}

.nav-text {
    font-size: 18px;
}

.profile-pic {
    width: 30px;
    height: 30px;
}

.navbar-nav a:hover {
    text-decoration: underline;
}

.nav-active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-thickness: 2px;
}

.nav-fixed {
    position: fixed;
    z-index: 1;
    background-color: white;
    top: 0;
    width: 100%;
    max-width: 1320px;
}