.riwayat-pesanan {
    margin-top: 3rem;
  }

.notpaid {
    border: 2px solid #faae9e;
    background-color: #fef3f0;
    padding: 1rem;
    border-radius: 20px;
}

.paid {
    border: 2px solid #9EFAA3;
    background-color: #F0FEF1;
    padding: 1rem;
    border-radius: 20px;
}  