.decrease-btn,
.increase-btn {
  border: 1px solid #ef7307;
  color: #ef7307;
  padding: 0px 7px;
  border-radius: 5px;
  font-size: 18px;
}

input.qty {
  text-align: center;
  border: none;
  margin: 0px;
  width: 30px;
  height: 20px;
  padding: 3px;
}

input.qty:hover {
  border: none;
}

/* Chrome, Safari, Edge, Opera */
input.qty::-webkit-inner-spin-button,
input.qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input.qty[type=number] {
  -moz-appearance: textfield;
}

textarea.catatan-item {
  background: #ebf4fe;
  border-radius: 4px;
  border: none;
  padding: 8px 12px;
  width: 510px;
  height: 65px;
}

input.delivery-date {
  background: #c3c9cf;
  width: 120px;
}