.loader-container {
  width: 100%;
  height: 100vh;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 80px;
  height: 80px;
  border: 4px solid #ef7307;
  border-radius: 50%;
  border-top-color: transparent;
  animation: loader 1.2s linear;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
