.profile-form {
  display: flex;
  flex-direction: row;
}

#avatar {
  border-radius: 50%;
  width: 240px;
  height: 240px;
  background-size: cover;
  /* background-color: grey; */
  /* background-image: url(../img/portrait.jpg); */
  overflow: hidden;
}

.update-avatar-btn {
  border-radius: 50%;
  width: 143px;
  height: 50px;
  color: #ef7307;
  /* margin: 0px 10px; */
  background: #ffffff;
  border: 2px solid #ef7307;
}

.form-controller {
  margin-bottom: 48px;
}

.name-group {
  display: flex;
}

.name-form {
  font-size: 12px;
  line-height: 140%;
  color: #9b9ea2;
}

.profile-form {
  background: #ebf4fe;
  border-radius: 4px;
  padding: 16px 20px;
  border: none;
}

.short-form {
  width: 342px;
  height: 56px;
  margin-top: 12px;
  /* margin-bottom: 48px; */
}

.long-form {
  width: 701px;
  margin-top: 12px;
}

.form-controller a {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  float: right;
  margin-top: 8px;
  color: #4d98f9;
  text-decoration: none;
}

.margin-right-20 {
  margin-right: 20px;
}

.btn-update {
  width: 220px;
  height: 52px;
}

#imageUpload {
  display: none;
}
