.card{
    background-color: white;
}
input[type=text],input[type=password]{
    
    background-color: #EBF4FE;
    outline: none;
    /* box-shadow: none !important;
    border: 1px solid #ccc !important; */
}
::placeholder{
    font-size: 14px !important;
}
body{
    font-family: 'Poppins';
}