
<html lang="en">
    <%- include('../../../components/header') %>

    <body>
        <%- include('../../../components/nav') %>
            <div class="container profile-container">
                <h2 class="text-center mt-3 mb-5 fw-bold">Buat Menu</h2>
                <div class="form__message error" id="form_message">
                    <div class="form__message-content">
                        <p id="message">
                        </p>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <form action="" id="create_menu">
                        <div class="form-controller form-row name-group">
                            <div class="form-group col-md-6">
                                <label for="category" class="name-form">Category</label>
                                <select class="short-form profile-form form-control" id="category"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="image" class="name-form">Gambar</label>
                                <input class="short-form profile-form form-control" id="image" type="file">
                            </div>
                        </div>
                        <div class="form-controller form-row name-group">
                            <div class="form-group col-md-6">
                                <label for="name" class="name-form">Nama</label>
                                <input class="short-form profile-form form-control " id="menu-name" type="text"
                                placeholder="Nama">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="price" class="name-form">Harga</label>
                                <input class="short-form profile-form form-control" id="menu-price" type="text"
                                placeholder="Harga">
                            </div>
                        </div>
                        <div class="form-controller form-group">
                            <label for="description" class="name-form">Deskripsi</label>
                            <textarea class="long-form profile-form form-control" id="description" type="text"
                                placeholder="Deskripsi"></textarea>
                        </div>
                        <div class="form-controller form-group">
                            <label for="best-before" class="name-form">Informasi ketahanan makanan</label>
                            <textarea class="long-form profile-form form-control" id="best-before" type="text"
                                placeholder="Informasi ketahanan makanan"></textarea>
                        </div>

                        <div class="form-controller form-group">
                            <label for="tags" class="name-form">tags</label>
                            <input class="long-form profile-form form-control" id="tags" type="text">
                        </div>
                        <div class="form-group">
                            <button
                                class="btn btn-primary btn-dark foodie-bg border-0 rounded-pill pt-2 pb-2 ps-3 pe-3 btn-update"
                                type="submit">
                                Buat Menu
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div id="loader">
                <%- include('../../../components/loader') %>
            </div>

            </div>
            <%- include('../../../components/footer') %>
            <script src="/static/js/menu/create-menu.js"></script>
    </body>
</html>