<html lang="en">
    <%- include('../../../components/header') %>
    
    <body>
        <%- include('../../../components/nav') %>
            <div class="container profile-container">
                <h2 class="text-center mt-3 mb-5 fw-bold detail" data-id=<%= menuId %>>Detail Menu</h2>
                <a href="/admin/edit-menu?menuId=<%= menuId %>" class="btn btn-primary btn-dark foodie-bg border-0 btn-menu py-3 px-5 mb-3">
                    Perbarui Menu
                </a>
                <div class="px-5 mx-5 content-detail"></div>
            </div>

            </div>
            <%- include('../../../components/footer') %>
            <script src="/static/js/helper/datetime.js"></script>
            <script src="/static/js/menu/detail-menu.js"></script>
    </body>
</html>