<html lang="en">
<%- include('../../../components/header') %>

    <body>
        <%- include('../../../components/nav') %>
            <div class="container profile-container">
                <h2 class="text-center mt-3 mb-5 fw-bold">Daftar Menu</h2>
                <a href="/admin/create-menu" class="btn btn-primary btn-dark foodie-bg border-0 btn-menu py-3 px-5 mb-3">
                    Tambah Menu
                </a>
                <div class="d-flex justify-content-center">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead class="foodie-bg text-white">
                                <th>Id</th>
                                <th>Category</th>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Description</th>
                                <th>Image</th>
                                <th>Action</th>
                            </thead>
                            <tbody class="row-menu"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            </div>
            <%- include('../../../components/footer') %>
                <script src="/static/js/menu/list-menu.js"></script>
                <script src="/static/js/helper/currency.js"></script>
    </body>

    <div id="loader">
        <%- include('../../../components/loader') %>
    </div>

</html>