
<footer class="page-footer" style="background-color: #585859;" id="footer">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <style>
        html,
        body {
            height: 100%;
            /* The html and body elements cannot have any padding or margin. */
            display: flex;
            flex-direction: column;
        }
    
        /* Wrapper for page content to push down footer */
        #wrap {
            min-height: 100%;
            
        }

        .container {
            flex: 1 0 auto !important;
        }
    
        /* Set the fixed height of the footer here */
        #footer {
            flex-shrink: 0;
            top: -50px;
            /* height: 220px; */
            /* position: absolute;
            bottom: 0;
            height: 60px;
            background-color: #f5f5f5; */
        }

        .footer-left {
            color: white;
            text-align: left;
        }

        .footer-middle {
            margin-top: 55px;
            text-align: left;
            margin-left: 120px ;
        }

        .footer-middle a {
            color: white;
        }

        .fab {
            color: white !important;
            margin:0px 15px;
        }

        .social-icon {
            margin-top: 40px;
        }
        
        .font-weight-bold {
            font-weight: 500;
        }
    </style>
    <div class="container text-center text-md-left mt-5 " style="padding-left: 100px; margin-top: 20px;" >
        <div class="row">
            <div class="col-md-3 mb-1 px-2 py-5 footer-left">
                <p class="font-weight-bold">Foodie</p>
                <p class="mt-2">Jalan Grafika No.2 Mlati, Sleman, DI Yogyakarta</p>
                <p class="mt-2">55284</p>
            </div>
            <div class="col-md-3 mb-4 pt-4 py-5 footer-middle">
                <ul class="list-unstyled">
                    <li class="my-2"><a href="#"><u>Foodie@gmail.com</u></a></li>
                    <li class="my-2"><a href="#"><u>0274 246746</u></a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4 pt-5 d-flex justify-content-end social-icon" style="font-size:xx-large; color: white">
                <a href="https://twitter.com/" target="blank"><i class="fab fa-twitter white-text mr-4"> </i></a>
                <a href="https://facebook.com/" target="blank"><i class="fab fa-facebook-f white-text mr-4"> </i></a>
                <a href="https://youtube.com/" target="blank"><i class="fab fa-youtube white-text mr-4"> </i></a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>

    </footer>