<style>
    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.3);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .spinner-border {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 99999;
        width: 3rem;
        height: 3rem;
        color: orange;
    }
</style>

<div class="overlay">
    <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>