<%- include('../components/header') %>

    <nav class="container-fluid navbar navbar-expand-lg">
        <div class="container">
            <a class="foodie-color fw-bold text-decoration-none" href="/">Foodie</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="d-flex justify-content-end">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul class="navbar-nav">
                        <a id="nav-beranda" class="nav-link fw-bold nav-list-color" aria-current="page"
                            href="/">Beranda</a>
                        <a id="nav-menu" class="nav-link fw-bold nav-list-color" href="/menu">Menu</a>
                        <a id="nav-about" class="nav-link fw-bold nav-list-color" href="/about-us">Tentang Kami</a>
                        <a id="nav-list-menu" class="nav-link fw-bold nav-list-color" href="/admin/list-menu">Daftar
                            Menu</a>
                        <a id="nav-customer" class="nav-link fw-bold nav-list-color" href="/admin/user">Daftar
                            Pengguna</a>
                        <a id="nav-order" class="nav-link fw-bold nav-list-color" href="/admin/order">Daftar Pesanan</a>
                        <a id="nav-order-history" class="nav-link fw-bold nav-list-color" href="/order-history">Riwayat Pesanan</a>
                        <a id="nav-login" class="nav-link fw-bold nav-list-color" href="/login">Login</a>
                        <li class="nav-item dropdown">
                            <a id="nav-profile-pic" class="nav-link fw-bold nav-list-color dropdown-toggle" href="#"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img
                                    src="https://i.pinimg.com/474x/f9/61/30/f961306179ce606db7bedb1d731436b6.jpg" alt=""
                                    id="profile-pic"
                                    class="profile-pic rounded-circle" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/profile">Profile</a>
                                <a class="dropdown-item" href="#" onclick="logout()">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="/static/js/services/navbar.service.js"></script>