<%- include('../../components/header') %>

<body>
    <%- include('../../components/nav') %>

    <div class="container">
        <h2 class="fw-bold text-center detail" data-id=<%= orderId %>>Detail Pesanan</h2>
        <div class="row">
            <div class="col-6">
                <p class="fw-bold">Lokasi Pengiriman</p>
                <input class="profile-form form-control " id="address" placeholder="Lokasi Pengiriman" disabled>
            </div>
            <div class="col-6">
                <p class="fw-bold">Catatan Pesanan</p>
                <input class="profile-form form-control " id="order-note" placeholder="Catatan Pesanan" disabled>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <p class="fw-bold">Pesanan</p>
        </div>
        <div class="pesanan"></div>
        <div class="total-harga text-end"></div>
        <div class="text-center">
            <button class="btn btn-primary btn-dark foodie-bg rounded-pill border-0 btn-confirm py-3 px-5 my-5" id="btn-done" disabled>
                Konfirmasi Pesanan Diterima
            </button>
        </div>
        <!-- Modal Catatan -->
        <div class="modal fade" id="review" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <button type="button" class="btn-close exit-btn" aria-label="Close" data-bs-dismiss="modal"
                        id="close-modal">
                    </button>
                    <div class="m-4">
                        <h2 class="text-center mt-3 mb-5 fw-bold">Buat Ulasan</h2>
                        <div class="d-flex justify-content-center">
                            <div class="mb-3 text-center">
                                <form class="rating">
                                    <label>
                                      <input type="radio" name="stars" value="1" />
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                    </label>
                                    <label>
                                      <input type="radio" name="stars" value="2" />
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                    </label>
                                    <label>
                                      <input type="radio" name="stars" value="3" />
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                    </label>
                                    <label>
                                      <input type="radio" name="stars" value="4" />
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                    </label>
                                    <label>
                                      <input type="radio" name="stars" value="5" />
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                      <span class="icon"><i class="bi-star-fill"></i></span>
                                    </label>
                                </form>
                                <textarea class="form-control mb-3" id="text-review" style="height: 180px"></textarea>
                                <button type="button" class="btn foodie-btn-border" id="confirm-review" onclick="tambahReview()">Beri Ulasan</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../components/footer') %>
    <script src="/static/js/api/order.api.js"></script>
    <script src="/static/js/api/review.api.js"></script>
    <script src="static/js/order/order-detail.js"></script>

    <div id="loader">
        <%- include('../../components/loader') %>
    </div>
</body>